.cpu-content {
    margin: 0px auto;
}

.cpu-content .cpu-title {
    height: 80px;
    margin: 0 auto;
}
.cpu-content .cpu-title h1 {
    font-size: 24px;
    line-height: 80px;
    color: white;
}

/* 媒体查询 */