.cpu-content {
    margin: 20px auto;
}

.jvm-content .jvm-chart{
    width: 800px;
    height: 800px; 
    margin: 0 auto;
}

/* 媒体查询 */
@media screen and (min-width : 1850px) {
    .cpu-content {
        margin: 80px auto;
    }
}