.tcp-info-content {
    height: 100%;
    position: relative;
}

.tcp-info-content .tcp-info-content-linechart {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}